.navbar {
    margin-bottom:0;
}

body {
    background:#2c3e50;
    color:#f7f7f7;
    font-family: 'Lato', sans-serif;
    padding-bottom:70px;
}

h1,
h2 {
    font-weight:bold;
}

p {
    font-size: 16px;
    color:#cdcdcd;
}

/* Jumbotron */
.jumbotron {
    background:url(Images/Jumbotron.jpg)center;
    width:100%;
    height:100%;
    color: white;
    text-align: center;
}

.jumbotron p {
    color:white;
    font-size: 26px;
}

/* Jumbotron Buttons */
.btn-secondary {
	color:#fff;
    background-color:transparent;
    border-color:white;
    margin-bottom:5px;
}

.btn-secondary:hover {
	color:black;
    background-color: white;
    border-color:white;
}



/* Navbar */

.navbar-inverse {
    background: #2c3e50;
    border:0;
}

.navbar-inverse .navbar-nav li a {
    color:#f7f7f7;
    font-size: 16px;
}

.navbar-inverse .navbar-nav li a:hover{
    background:#46719C;
}


.navbar-inverse .navbar-header .navbar-brand {
    color:#f7f7f7;
} 

.navbar-inverse .navbar-header .navbar-brand:hover {
    color:#66819C;
    font-size:19px;
} 

/* Dropdown menu */
.dropdown-menu {
    background: #2E3B47;
    border-radius:0;
    border:0;
}

.dropdown-menu li a {
    padding:10px;
}

.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
    background: #66819C;
}

.navbar-brand {
	color:#f7f7f7;
}


/* icons */

.call-to-action {
	text-align:center;
}

.call-to-action p{
	margin-bottom: 30px;
    font-family: sans-serif;
}

.glyphicon-large {
	font-size:100px;
}

/* footer */
.footer navbar-fixed-bottom {
    padding:5px;
}










